service: decifuck

plugins:
  - serverless-plugin-typescript
provider:
  name: aws
  runtime: nodejs14.x
  timeout: 30
  region: eu-west-3
  deploymentBucket:
    name: emmanuelmarboeuf.serverless-deploys
  deploymentPrefix: decifuck
  lambdaHashingVersion: 20201221

functions:
  decifuck:
    name: decifuck
    handler: src/index.handler
    events:
      - schedule:
          rate: rate(20 minutes)
          enabled: true

resources:
  Resources:
    wantedSlotsTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: decifuck-wanted-slots
        AttributeDefinitions:
          - AttributeName: email
            AttributeType: S
        KeySchema:
          - AttributeName: email
            KeyType: HASH
        ProvisionedThroughput:
          ReadCapacityUnits: 1
          WriteCapacityUnits: 1

    credentialsStore:
      Type: AWS::SecretsManager::Secret
      Properties:
        Name: decifuck